{% extends 'catalog/base.html' %}

{% block title %}تماس با ما{% endblock %}

{% block content %}
<div class="row">
<!-- بخش معرفی -->
<div class="container-fluid bg-light py-5 ">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1">تماس با ما</h1>
        <p>
            برای هرگونه سوال، پیشنهاد یا سفارش می‌توانید از طریق شماره های زیر با ما در ارتباط باشید.
        </p>
    </div>
</div>

<!--&lt;!&ndash; نقشه &ndash;&gt;-->
<!--<div class="container py-4">-->
<!--    <div id="mapid" style="width: 10%; height: 10px;"></div>-->
<!--</div>-->
<!--<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" crossorigin=""></script>-->
<!--<script>-->
<!--    var mymap = L.map('mapid').setView([35.16713, 47.80221], 20); // مثال: تهران-->

<!--    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {-->
<!--        maxZoom: 19,-->
<!--        attribution: '&copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'-->
<!--    }).addTo(mymap);-->

<!--    L.marker([35.6892, 51.3890]).addTo(mymap)-->
<!--        .bindPopup("<b>دفتر ما</b><br>قروه.").openPopup();-->

<!--    mymap.scrollWheelZoom.disable();-->
<!--    mymap.touchZoom.disable();-->
<!--</script>-->

<!-- فرم تماس -->
<!--<div class="container py-5">-->
<!--    <div class="row py-5">-->
<!--        <form class="col-md-9 m-auto" method="post" role="form">-->
<!--            {% csrf_token %}-->
<!--            <div class="row">-->
<!--                <div class="form-group col-md-6 mb-3">-->
<!--                    <label for="name">نام</label>-->
<!--                    <input type="text" class="form-control mt-1" id="name" name="name" placeholder="نام شما">-->
<!--                </div>-->
<!--                <div class="form-group col-md-6 mb-3">-->
<!--                    <label for="email">ایمیل</label>-->
<!--                    <input type="email" class="form-control mt-1" id="email" name="email" placeholder="ایمیل شما">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="mb-3">-->
<!--                <label for="subject">موضوع</label>-->
<!--                <input type="text" class="form-control mt-1" id="subject" name="subject" placeholder="موضوع پیام">-->
<!--            </div>-->
<!--            <div class="mb-3">-->
<!--                <label for="message">پیام</label>-->
<!--                <textarea class="form-control mt-1" id="message" name="message" placeholder="متن پیام" rows="8"></textarea>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col text-end mt-2">-->
<!--                    <button type="submit" class="btn btn-success btn-lg px-3">ارسال پیام</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
</div>
{% endblock %}
