{% extends 'catalog/base.html' %}
{% block title %}نمونه کار{% endblock %}
{% block content %}
{% load static %}

<body>
<!-- Top Nav -->
<!--    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">-->
<!--        <div class="container text-light">-->
<!--            <div class="w-100 d-flex justify-content-between">-->
<!--                <div>-->
<!--                    <i class="fa fa-envelope mx-2"></i>-->
<!--                    <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">info@company.com</a>-->
<!--                    <i class="fa fa-phone mx-2"></i>-->
<!--                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-020-0340</a>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->

<!-- Header -->
<!--    <nav class="navbar navbar-expand-lg navbar-light shadow">-->
<!--        <div class="container d-flex justify-content-between align-items-center">-->

<!--            <a class="navbar-brand text-success logo h1 align-self-center" href="index.html">Zay</a>-->

<!--            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav"-->
<!--                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->

<!--            <div class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between" id="templatemo_main_nav">-->
<!--                <div class="flex-fill">-->
<!--                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">-->
<!--                        <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>-->
<!--                        <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>-->
<!--                        <li class="nav-item"><a class="nav-link" href="shop.html">Shop</a></li>-->
<!--                        <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <div class="navbar align-self-center d-flex">-->
<!--                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">-->
<!--                        <div class="input-group">-->
<!--                            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">-->
<!--                            <div class="input-group-text"><i class="fa fa-fw fa-search"></i></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">-->
<!--                        <i class="fa fa-fw fa-search text-dark mr-2"></i>-->
<!--                    </a>-->
<!--                    <a class="nav-icon position-relative text-decoration-none" href="#">-->
<!--                        <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>-->
<!--                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">7</span>-->
<!--                    </a>-->
<!--                    <a class="nav-icon position-relative text-decoration-none" href="#">-->
<!--                        <i class="fa fa-fw fa-user text-dark mr-3"></i>-->
<!--                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">+99</span>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<!--    </nav>-->

<!-- Search Modal -->
<!--    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-hidden="true">-->
<!--        <div class="modal-dialog modal-lg" role="document">-->
<!--            <div class="w-100 pt-1 mb-5 text-right">-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--            </div>-->
<!--            <form action="" method="get" class="modal-content modal-body border-0 p-0">-->
<!--                <div class="input-group mb-2">-->
<!--                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">-->
<!--                    <button type="submit" class="input-group-text bg-success text-light">-->
<!--                        <i class="fa fa-fw fa-search text-white"></i>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->

<!-- Start Content -->
<div class="container py-5">
    <div class="row">

        <!-- Sidebar -->
        <div class="col-lg-3">
            <h1 class="h2 pb-4">نمونه کار</h1>
            <ul class="list-unstyled templatemo-accordion">
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#"
                       data-bs-toggle="collapse" data-bs-target="#collapseGender">
                        پروژه
                        <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul id="collapseGender" class="collapse show list-unstyled pl-3">
                        <li><a class="text-decoration-none" href="{% url 'sample' %}?cat=project&type=photo">عکس</a>
                        </li>
                        <li><a class="text-decoration-none" href="{% url 'sample' %}?cat=project&type=video">فیلم</a>
                        </li>
                    </ul>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#"
                       data-bs-toggle="collapse" data-bs-target="#collapseSale">
                        مناقصه
                        <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul id="collapseSale" class="collapse list-unstyled pl-3">
                        <li><a class="text-decoration-none" href="{% url 'sample' %}?cat=monaghese&type=photo">عکس</a>
                        </li>
                        <li><a class="text-decoration-none" href="{% url 'sample' %}?cat=monaghese&type=video">فیلم</a>
                        </li>
                    </ul>
                </li>
                <!--                    <li class="pb-3">-->
                <!--                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#" data-bs-toggle="collapse" data-bs-target="#collapseProduct">-->
                <!--                            Product-->
                <!--                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>-->
                <!--                        </a>-->
                <!--                        <ul id="collapseProduct" class="collapse list-unstyled pl-3">-->
                <!--                            <li><a class="text-decoration-none" href="#">Bag</a></li>-->
                <!--                            <li><a class="text-decoration-none" href="#">Sweather</a></li>-->
                <!--                            <li><a class="text-decoration-none" href="#">Sunglass</a></li>-->
                <!--                        </ul>-->
                <!--                    </li>-->
            </ul>
        </div>

<!----- Product List ---->
  <div class="col-lg-9">
    <div class="row">

        {% for item in items %}
        <div class="col-md-4 mb-4">
            <div class="card">

                {% if item.media_type == 'photo' %}
                    <img src="{{ item.file.url }}" class="card-img-top">
                {% else %}
                    <video controls class="w-100">
                        <source src="{{ item.file.url }}" type="video/mp4">
                    </video>
                {% endif %}

                <div class="card-body text-center">
                    <p>{{ item.title }}</p>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

    </div>
</div>
<!-- End Content -->

<!-- Brands, Footer and Scripts remain unchanged -->
<script src="{% static 'catalog/assets/js/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'catalog/assets/js/jquery-migrate-1.2.1.min.js' %}"></script>

{% endblock %}