<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">اطلاعات بیشتر</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">خانه</a></li>
                    <li><a class="text-decoration-none" href="#">درباره ما</a></li>
                    <li><a class="text-decoration-none" href="#">مکان فروشگاه‌ها</a></li>
                    <li><a class="text-decoration-none" href="#">سوالات متداول</a></li>
                    <li><a class="text-decoration-none" href="#">تماس با ما</a></li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-success border-bottom pb-3 border-light logo">Yas Shop</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><i class="fas fa-map-marker-alt fa-fw"></i> قروه خیابان شریعتی پاساژ پردیس واحد 47</li>
                    <li><i class="fa fa-phone fa-fw"></i> <a class="text-decoration-none" href="tel:010-020-0340">0910-359-8379</a>
                    </li>
                    <li><i class="fa fa-phone fa-fw"></i> <a class="text-decoration-none" href="tel:010-020-0340">0935-914-4212</a>
                    </li>
                    <li><i class="fa fa-phone fa-fw"></i> <a class="text-decoration-none" href="tel:010-020-0340">0873-524-0587</a>
                    </li>
                    <li><i class="fa fa-envelope fa-fw"></i> <a class="text-decoration-none"
                                                                href="mailto:info@company.com">info@company.com</a></li>
                </ul>
            </div>
        </div>

        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons">
<!--                    <li class="list-inline-item border border-light rounded-circle text-center">-->
<!--                        <a class="text-light text-decoration-none" target="_blank" href="#"><i-->
<!--                                class="fab fa-facebook-f fa-lg fa-fw"></i></a>-->
<!--                    </li>-->
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="yas_facilities_complex"><i
                                class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>
<!--                    <li class="list-inline-item border border-light rounded-circle text-center">-->
<!--                        <a class="text-light text-decoration-none" target="_blank" href="#"><i-->
<!--                                class="fab fa-twitter fa-lg fa-fw"></i></a>-->
<!--                    </li>-->
<!--                    <li class="list-inline-item border border-light rounded-circle text-center">-->
<!--                        <a class="text-light text-decoration-none" target="_blank" href="#"><i-->
<!--                                class="fab fa-linkedin fa-lg fa-fw"></i></a>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright &copy; 2025 Company Name
                        | Designed by YAS TASISAT
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
